In [2]:
# import các thư viện
import numpy as np
import pandas as pd
import sqlite3
from datetime import timedelta
import warnings
import os
warnings.filterwarnings("ignore")
pd.set_option("display.max_columns", 100)

## 1. Kết nối cơ sở dữ liệu

* Sử dụng Python để kết nối với cơ sở dữ liệu SQLite
- Lấy thông tin của tất cả các bảng

In [8]:
path = os.getcwd()
# kết nối database file sqlite
conn = sqlite3.connect(path+'\\database.sqlite')

# lấy thông tin của tất cả các bảng
tables = pd.read_sql("""SELECT *
                        FROM sqlite_master
                        WHERE type='table';""", conn)
tables

,type,name,tbl_name,rootpage,sql
0,table,sqlite_sequence,sqlite_sequence,4,"CREATE TABLE sqlite_sequence(name,seq)"
1,table,Player_Attributes,Player_Attributes,11,"CREATE TABLE ""Player_Attributes"" (\n\t`id`\tIN..."
2,table,Player,Player,14,CREATE TABLE `Player` (\n\t`id`\tINTEGER PRIMA...
3,table,Match,Match,18,CREATE TABLE `Match` (\n\t`id`\tINTEGER PRIMAR...
4,table,League,League,24,CREATE TABLE `League` (\n\t`id`\tINTEGER PRIMA...
5,table,Country,Country,26,CREATE TABLE `Country` (\n\t`id`\tINTEGER PRIM...
6,table,Team,Team,29,"CREATE TABLE ""Team"" (\n\t`id`\tINTEGER PRIMARY..."
7,table,Team_Attributes,Team_Attributes,2,CREATE TABLE `Team_Attributes` (\n\t`id`\tINTE...

## 2. Câu hỏi 2: Liệt kê các quốc gia có trong bảng "Country"

In [10]:
pd.read_sql('''
SELECT name country_name
FROM Country
''', conn)

   country_name
0       Belgium
1       England
2        France
3       Germany
4         Italy
5   Netherlands
6        Poland
7      Portugal
8      Scotland
9         Spain
10  Switzerland

## 3. Câu hỏi 3: Liệt kê các giải đấu trong bảng "League"

In [12]:
pd.read_sql('''
SELECT name league_name
FROM League
''', conn)

                 league_name
0     Belgium Jupiler League
1     England Premier League
2             France Ligue 1
3      Germany 1. Bundesliga
4              Italy Serie A
5     Netherlands Eredivisie
6         Poland Ekstraklasa
7   Portugal Liga ZON Sagres
8    Scotland Premier League
9            Spain LIGA BBVA
10  Switzerland Super League

## 4. Câu hỏi 4: Liệt kê các giải đấu và thông tin quốc gia của từng giải

In [21]:
# bảng League có quan hệ với bảng Country qua từ khóa country_id
pd.read_sql('''
SELECT l.name league_name, c.name country_name
FROM Country c
INNER JOIN League l ON c.id = l.country_id
''',conn)

                 league_name country_name
0     Belgium Jupiler League      Belgium
1     England Premier League      England
2             France Ligue 1       France
3      Germany 1. Bundesliga      Germany
4              Italy Serie A        Italy
5     Netherlands Eredivisie  Netherlands
6         Poland Ekstraklasa       Poland
7   Portugal Liga ZON Sagres     Portugal
8    Scotland Premier League     Scotland
9            Spain LIGA BBVA        Spain
10  Switzerland Super League  Switzerland

## 5. Câu hỏi 5: Liệt kê các trận đấu trong bảng  “Match”

In [22]:
'''
dùng lệnh inner join với bảng team 2 lần để trích xuất ra tên của đội chủ nhà và tên của đội khách
bảng Match có quan hệ với bảng Team qua từ khóa home_team_api_id và away_team_api_id
'''
pd.read_sql('''
SELECT m.id, match_api_id,t1.team_long_name home_team_name, t2.team_long_name away_team_name, home_team_goal, away_team_goal
FROM Match m 
INNER JOIN Team as t1 ON m.home_team_api_id = t1.team_api_id
INNER JOIN Team as t2 ON m.away_team_api_id = t2.team_api_id
''',conn)

,id,match_api_id,home_team_name,away_team_name,home_team_goal,away_team_goal
0,1,492473,KRC Genk,Beerschot AC,1,1
1,2,492474,SV Zulte-Waregem,Sporting Lokeren,0,0
2,3,492475,KSV Cercle Brugge,RSC Anderlecht,0,3
3,4,492476,KAA Gent,RAEC Mons,5,0
4,5,492477,FCV Dender EH,Standard de Liège,1,3
5,6,492478,KV Mechelen,Club Brugge KV,1,1
6,7,492479,KSV Roeselare,KV Kortrijk,2,2
7,8,492480,Tubize,Royal Excel Mouscron,1,2
8,9,492481,KVC Westerlo,Sporting Charleroi,1,0
9,10,492564,Club Brugge KV,KV Kortrijk,4,1
10,11,492565,Standard de Liège,Sporting Charleroi,1,2
11,12,492566,SV Zulte-Waregem,KAA Gent,0,2
12,13,492567,Sporting Lokeren,RAEC Mons,0,0
13,14,492568,FCV Dender EH,KVC Westerlo,2,2
14,15,492569,KV Mechelen,KSV Roeselare,1,2
15,16,492570,Royal Excel Mouscron,KSV Cercle Brugge,0,1
16,17,492571,Tubize,KRC Genk,1,3
17,18,492572,Beerschot AC,RSC Anderlecht,1,3
18,19,492573,RSC Anderlecht,Sporting Lokeren,2,3
19,20,492574,RAEC Mons,Royal Excel Mouscron,0,0
20,21,492575,Sporting Charleroi,Club Brugge KV,2,2
21,22,492576,KSV Cercle Brugge,SV Zulte-Waregem,2,0
22,23,492577,KAA Gent,FCV Dender EH,1,1
23,24,492578,KSV Roeselare,Tubize,1,2
24,25,492579,KV Kortrijk,KV Mechelen,0,0
25,26,492580,KVC Westerlo,KRC Genk,1,0
26,27,492581,Beerschot AC,Standard de Liège,1,3
27,28,492582,Club Brugge KV,RSC Anderlecht,1,1
28,29,492583,KRC Genk,KSV Roeselare,1,1
29,30,492584,SV Zulte-Waregem,Beerschot AC,2,2
...,...,...,...,...,...,...
25949,25950,1992066,Grasshopper Club Zürich,Lugano,6,1
25950,25951,1992067,FC Luzern,FC Basel,1,3
25951,25952,1992068,FC St. Gallen,FC Zürich,0,2
25952,25953,1992069,FC Vaduz,FC Sion,1,1
25953,25954,1992070,BSC Young Boys,FC Thun,3,1
25954,25955,1992071,FC Basel,FC Thun,3,1
25955,25956,1992072,BSC Young Boys,Lugano,0,1
25956,25957,1992073,FC Luzern,FC St. Gallen,0,1
25957,25958,1992074,FC Sion,FC Zürich,3,1
25958,25959,1992075,FC Vaduz,Grasshopper Club Zürich,3,3
25959,25960,1992076,Lugano,FC Basel,1,3
25960,25961,1992077,FC Sion,BSC Young Boys,1,3
25961,25962,1992078,FC St. Gallen,Grasshopper Club Zürich,0,2
25962,25963,1992079,FC Thun,FC Vaduz,1,0
25963,25964,1992080,FC Zürich,FC Luzern,2,5
25964,25965,1992081,Lugano,FC Luzern,0,1
25965,25966,1992082,FC Vaduz,FC St. Gallen,1,0
25966,25967,1992083,FC Thun,FC Sion,0,2
25967,25968,1992084,FC Basel,FC Zürich,3,1
25968,25969,1992085,Grasshopper Club Zürich,BSC Young Boys,3,2
25969,25970,1992086,FC Basel,FC St. Gallen,2,1
25970,25971,1992087,BSC Young Boys,FC Vaduz,4,0
25971,25972,1992088,FC Luzern,Grasshopper Club Zürich,3,3
25972,25973,1992089,FC Zürich,FC Thun,3,3
25973,25974,1992090,FC Sion,Lugano,3,0
25974,25975,1992091,FC St. Gallen,FC Thun,1,0
25975,25976,1992092,FC Vaduz,FC Luzern,1,2
25976,25977,1992093,Grasshopper Club Zürich,FC Sion,2,0
25977,25978,1992094,Lugano,FC Zürich,0,0
25978,25979,1992095,BSC Young Boys,FC Basel,4,3

## 6. Câu hỏi 6: Liệt kê các trận đấu và thông tin về leage và country tương ứng

In [23]:
#bảng Match quan hệ bảng Country qua từ khóa country_id và quan hệ với bảng League qua từ khóa League_id
pd.read_sql('''
SELECT m.id,match_api_id,home_team_api_id, away_team_api_id,l.name league_name, c.name country_name
FROM Match m 
INNER JOIN Country c ON m.country_id = c.id
INNER JOIN League l ON m.League_id = l.id
''',conn)

,id,match_api_id,home_team_api_id,away_team_api_id,league_name,country_name
0,1,492473,9987,9993,Belgium Jupiler League,Belgium
1,2,492474,10000,9994,Belgium Jupiler League,Belgium
2,3,492475,9984,8635,Belgium Jupiler League,Belgium
3,4,492476,9991,9998,Belgium Jupiler League,Belgium
4,5,492477,7947,9985,Belgium Jupiler League,Belgium
5,6,492478,8203,8342,Belgium Jupiler League,Belgium
6,7,492479,9999,8571,Belgium Jupiler League,Belgium
7,8,492480,4049,9996,Belgium Jupiler League,Belgium
8,9,492481,10001,9986,Belgium Jupiler League,Belgium
9,10,492564,8342,8571,Belgium Jupiler League,Belgium
10,11,492565,9985,9986,Belgium Jupiler League,Belgium
11,12,492566,10000,9991,Belgium Jupiler League,Belgium
12,13,492567,9994,9998,Belgium Jupiler League,Belgium
13,14,492568,7947,10001,Belgium Jupiler League,Belgium
14,15,492569,8203,9999,Belgium Jupiler League,Belgium
15,16,492570,9996,9984,Belgium Jupiler League,Belgium
16,17,492571,4049,9987,Belgium Jupiler League,Belgium
17,18,492572,9993,8635,Belgium Jupiler League,Belgium
18,19,492573,8635,9994,Belgium Jupiler League,Belgium
19,20,492574,9998,9996,Belgium Jupiler League,Belgium
20,21,492575,9986,8342,Belgium Jupiler League,Belgium
21,22,492576,9984,10000,Belgium Jupiler League,Belgium
22,23,492577,9991,7947,Belgium Jupiler League,Belgium
23,24,492578,9999,4049,Belgium Jupiler League,Belgium
24,25,492579,8571,8203,Belgium Jupiler League,Belgium
25,26,492580,10001,9987,Belgium Jupiler League,Belgium
26,27,492581,9993,9985,Belgium Jupiler League,Belgium
27,28,492582,8342,8635,Belgium Jupiler League,Belgium
28,29,492583,9987,9999,Belgium Jupiler League,Belgium
29,30,492584,10000,9993,Belgium Jupiler League,Belgium
...,...,...,...,...,...,...
25949,25950,1992066,9956,7896,Switzerland Super League,Switzerland
25950,25951,1992067,10199,9931,Switzerland Super League,Switzerland
25951,25952,1992068,10190,10243,Switzerland Super League,Switzerland
25952,25953,1992069,9824,10179,Switzerland Super League,Switzerland
25953,25954,1992070,10192,10191,Switzerland Super League,Switzerland
25954,25955,1992071,9931,10191,Switzerland Super League,Switzerland
25955,25956,1992072,10192,7896,Switzerland Super League,Switzerland
25956,25957,1992073,10199,10190,Switzerland Super League,Switzerland
25957,25958,1992074,10179,10243,Switzerland Super League,Switzerland
25958,25959,1992075,9824,9956,Switzerland Super League,Switzerland
25959,25960,1992076,7896,9931,Switzerland Super League,Switzerland
25960,25961,1992077,10179,10192,Switzerland Super League,Switzerland
25961,25962,1992078,10190,9956,Switzerland Super League,Switzerland
25962,25963,1992079,10191,9824,Switzerland Super League,Switzerland
25963,25964,1992080,10243,10199,Switzerland Super League,Switzerland
25964,25965,1992081,7896,10199,Switzerland Super League,Switzerland
25965,25966,1992082,9824,10190,Switzerland Super League,Switzerland
25966,25967,1992083,10191,10179,Switzerland Super League,Switzerland
25967,25968,1992084,9931,10243,Switzerland Super League,Switzerland
25968,25969,1992085,9956,10192,Switzerland Super League,Switzerland
25969,25970,1992086,9931,10190,Switzerland Super League,Switzerland
25970,25971,1992087,10192,9824,Switzerland Super League,Switzerland
25971,25972,1992088,10199,9956,Switzerland Super League,Switzerland
25972,25973,1992089,10243,10191,Switzerland Super League,Switzerland
25973,25974,1992090,10179,7896,Switzerland Super League,Switzerland
25974,25975,1992091,10190,10191,Switzerland Super League,Switzerland
25975,25976,1992092,9824,10199,Switzerland Super League,Switzerland
25976,25977,1992093,9956,10179,Switzerland Super League,Switzerland
25977,25978,1992094,7896,10243,Switzerland Super League,Switzerland
25978,25979,1992095,10192,9931,Switzerland Super League,Switzerland

## 7. Câu hỏi 7: Liệt kê số lượng trận đấu của mỗi giải đấu bao gồm cả tên giải đấu, sắp xếp theo thứ tự giảm dần số trận đấu

In [27]:
# bảng Match quan hệ với bảng league qua từ khóa league_id, dùng count và group by để tính số trận đấu từng giải
pd.read_sql('''
SELECT l.name league_name, count(*) number_of_matchs
FROM Match m
INNER JOIN League l
ON m.league_id = l.id
GROUP BY league_name
ORDER BY number_of_matchs DESC
''',conn)

                 league_name  number_of_matchs
0     England Premier League              3040
1             France Ligue 1              3040
2            Spain LIGA BBVA              3040
3              Italy Serie A              3017
4      Germany 1. Bundesliga              2448
5     Netherlands Eredivisie              2448
6   Portugal Liga ZON Sagres              2052
7         Poland Ekstraklasa              1920
8    Scotland Premier League              1824
9     Belgium Jupiler League              1728
10  Switzerland Super League              1422

## 8. Câu hỏi 8: Liệt kê tổng số bàn thắng của đội nhà và đội khách trong mỗi giải đấu

In [29]:
pd.read_sql('''
SELECT l.name league_name,sum(home_team_goal) total_home_goals, sum(away_team_goal) total_away_goals
FROM Match m
INNER JOIN League l ON m.league_id = l.id
GROUP BY league_name
''',conn)

                 league_name  total_home_goals  total_away_goals
0     Belgium Jupiler League              2781              2060
1     England Premier League              4715              3525
2             France Ligue 1              4265              3162
3      Germany 1. Bundesliga              3982              3121
4              Italy Serie A              4528              3367
5     Netherlands Eredivisie              4357              3185
6         Poland Ekstraklasa              2678              1978
7   Portugal Liga ZON Sagres              2890              2311
8    Scotland Premier League              2607              2197
9            Spain LIGA BBVA              4959              3453
10  Switzerland Super League              2365              1801

## 9. Câu hỏi 9: Liệt kê thông tin các đội từ bảng “Team”

In [30]:
pd.read_sql('''
SELECT * 
FROM Team
''',conn)

,id,team_api_id,team_fifa_api_id,team_long_name,team_short_name
0,1,9987,673.0,KRC Genk,GEN
1,2,9993,675.0,Beerschot AC,BAC
2,3,10000,15005.0,SV Zulte-Waregem,ZUL
3,4,9994,2007.0,Sporting Lokeren,LOK
4,5,9984,1750.0,KSV Cercle Brugge,CEB
5,6,8635,229.0,RSC Anderlecht,AND
6,7,9991,674.0,KAA Gent,GEN
7,8,9998,1747.0,RAEC Mons,MON
8,9,7947,NaN,FCV Dender EH,DEN
9,10,9985,232.0,Standard de Liège,STL
10,11,8203,110724.0,KV Mechelen,MEC
11,12,8342,231.0,Club Brugge KV,CLB
12,13,9999,546.0,KSV Roeselare,ROS
13,14,8571,100081.0,KV Kortrijk,KOR
14,15,4049,NaN,Tubize,TUB
15,16,9996,111560.0,Royal Excel Mouscron,MOU
16,17,10001,681.0,KVC Westerlo,WES
17,18,9986,670.0,Sporting Charleroi,CHA
18,614,9997,680.0,Sint-Truidense VV,STT
19,1034,9989,239.0,Lierse SK,LIE
20,1042,6351,2013.0,KAS Eupen,EUP
21,1513,1773,100087.0,Oud-Heverlee Leuven,O-H
22,2004,8475,110913.0,Waasland-Beveren,WAA
23,2476,8573,682.0,KV Oostende,OOS
24,2510,274581,111560.0,Royal Excel Mouscron,MOP
25,3457,10260,11.0,Manchester United,MUN
26,3458,10261,13.0,Newcastle United,NEW
27,3459,9825,1.0,Arsenal,ARS
28,3460,8659,109.0,West Bromwich Albion,WBA
29,3461,8472,106.0,Sunderland,SUN
...,...,...,...,...,...
269,43053,9906,240.0,Atlético Madrid,AMA
270,43054,9864,573.0,Málaga CF,MAL
271,43800,9868,1742.0,Xerez Club Deportivo,XER
272,43803,8394,244.0,Real Zaragoza,ZAR
273,43804,9867,260.0,CD Tenerife,TEN
274,44557,10278,100879.0,Hércules Club de Fútbol,HER
275,44565,8581,1853.0,Levante UD,LEV
276,44569,8560,457.0,Real Sociedad,SOC
277,45330,7878,110832.0,Granada CF,GRA
278,45333,8370,480.0,Rayo Vallecano,RAY
279,46087,9910,450.0,RC Celta de Vigo,CEL
280,46848,10268,468.0,Elche CF,ELC
281,47605,8372,467.0,SD Eibar,EIB
282,47612,7869,1867.0,Córdoba CF,COR
283,48358,8306,472.0,UD Las Palmas,LAS
284,49115,9956,322.0,Grasshopper Club Zürich,GRA
285,49116,6493,1714.0,AC Bellinzona,BEL
286,49117,10192,900.0,BSC Young Boys,YB
287,49118,9931,896.0,FC Basel,BAS
288,49119,9930,434.0,FC Aarau,AAR
289,49120,10179,110770.0,FC Sion,SIO
290,49121,10199,897.0,FC Luzern,LUZ
291,49122,9824,286.0,FC Vaduz,VAD
292,49123,7955,435.0,Neuchâtel Xamax,XAM
293,49124,10243,894.0,FC Zürich,ZUR
294,49479,10190,898.0,FC St. Gallen,GAL
295,49837,10191,1715.0,FC Thun,THU
296,50201,9777,324.0,Servette FC,SER
297,50204,7730,1862.0,FC Lausanne-Sports,LAU
298,51606,7896,NaN,Lugano,LUG

## 10. Câu hỏi 10: Liệt kê 20 đội với số bàn thắng sân nhà cao nhất

In [32]:
# bảng Match quan hệ với bảng team qua từ khóa home_team_api_id 
home_goals = pd.read_sql('''
SELECT t.team_long_name , sum(home_team_goal) total_goals_in_home
FROM Match m
INNER JOIN Team t ON m.home_team_api_id = t.team_api_id
GROUP BY t.team_long_name
ORDER BY total_goals_in_home DESC
LIMIT 20
''',conn)
home_goals

         team_long_name  total_goals_in_home
0        Real Madrid CF                  505
1          FC Barcelona                  495
2                Celtic                  389
3      FC Bayern Munich                  382
4                   PSV                  370
5       Manchester City                  365
6                  Ajax                  360
7              FC Basel                  344
8     Manchester United                  338
9               Chelsea                  333
10  Paris Saint-Germain                  332
11      Atlético Madrid                  321
12           SL Benfica                  321
13       BSC Young Boys                  319
14             Juventus                  307
15              Arsenal                  306
16               Napoli                  303
17                 Roma                  299
18          Valencia CF                  299
19    Borussia Dortmund                  298

## 11. Câu hỏi 11: Liệt kê 20 đội có số bàn thắng trên sân khách cao nhất

In [34]:
# bảng Match quan hệ với bảng team qua từ khóa away_team_api_id
pd.read_sql('''
SELECT t.team_long_name , sum(away_team_goal) total_goals_away
FROM Match m
INNER JOIN Team t ON m.away_team_api_id = t.team_api_id
GROUP BY t.team_long_name
ORDER BY total_goals_away DESC
LIMIT 20
''',conn)

         team_long_name  total_goals_away
0          FC Barcelona               354
1        Real Madrid CF               338
2                Celtic               306
3                  Ajax               287
4                   PSV               282
5              FC Basel               275
6      FC Bayern Munich               271
7               Arsenal               267
8     Borussia Dortmund               253
9               Chelsea               250
10           SL Benfica               247
11             FC Porto               246
12    Manchester United               244
13      Manchester City               241
14            Liverpool               237
15             Juventus               236
16  Paris Saint-Germain               236
17                 Roma               231
18            FC Zürich               227
19    Tottenham Hotspur               226

## 12. Câu hỏi 12: Liệt kê tên các đội bóng và tổng số bàn thắng mỗi đội, sắp xếp theo số lượng giảm dần

In [36]:
# dùng lệnh union để hợp 2 bảng là (mã đội nhà, số bàn thắng chủ nhà) và (mã đội khách, số bàn thắng đội khách )
pd.read_sql('''
SELECT t.team_long_name, sum(total_goals) total_goal
FROM (
    SELECT home_team_api_id team_id, home_team_goal total_goals FROM Match
    UNION ALL
    SELECT away_team_api_id team_id, away_team_goal total_goals FROM Match) m
INNER JOIN Team t ON m.team_id = t.team_api_id
GROUP BY t.team_long_name
ORDER BY total_goal DESC
''',conn)

                   team_long_name  total_goal
0                    FC Barcelona         849
1                  Real Madrid CF         843
2                          Celtic         695
3                FC Bayern Munich         653
4                             PSV         652
5                            Ajax         647
6                        FC Basel         619
7                 Manchester City         606
8                         Chelsea         583
9               Manchester United         582
10                        Arsenal         573
11            Paris Saint-Germain         568
12                     SL Benfica         568
13              Borussia Dortmund         551
14                       Juventus         543
15                       FC Porto         541
16                      Liverpool         531
17                           Roma         530
18                 BSC Young Boys         529
19                Atlético Madrid         524
20                         Napoli         514
21                      FC Twente         509
22             Olympique Lyonnais         497
23                          Inter         496
24                          Milan         496
25                             AZ         492
26                      Feyenoord         489
27                    Valencia CF         484
28            Bayer 04 Leverkusen         483
29              Tottenham Hotspur         481
..                            ...         ...
266                        Tubize          35
267                       Brescia          34
268                        Novara          34
269                 RC Recreativo          34
270                       Tondela          34
271              FC Ingolstadt 04          33
272  Termalica Bruk-Bet Nieciecza          33
273                  Cardiff City          32
274                       FC Metz          31
275               SC Paderborn 07          31
276      US Boulogne Cote D'Opale          31
277            FC Energie Cottbus          30
278                 Karlsruher SC          30
279                   Le Havre AC          30
280               Reggio Calabria          30
281         DSC Arminia Bielefeld          29
282        Eintracht Braunschweig          29
283                   FC Penafiel          29
284                  Portimonense          29
285                     KAS Eupen          28
286                 Middlesbrough          28
287                      Feirense          27
288                       Pescara          27
289              Uniao da Madeira          27
290                       Amadora          26
291          SpVgg Greuther Fürth          26
292                      Trofense          25
293                  FC Dordrecht          24
294                    Córdoba CF          22
295              AC Arles-Avignon          21

[296 rows x 2 columns]

## 13. Câu hỏi 13: Liệt kê tên các đội bóng (long name) và tổng số trận đấu đội đó tham gia, sắp xếp theo thứ tự giảm dần

In [38]:
# dùng union 2 bảng gồm id đội khách và id đội nhà
pd.read_sql('''
SELECT t.team_long_name, count(*) number_of_match
FROM (
    SELECT home_team_api_id team_id FROM Match
    UNION ALL
    SELECT away_team_api_id team_id FROM Match) m
INNER JOIN Team t ON m.team_id = t.team_api_id
GROUP BY t.team_long_name
ORDER BY number_of_match DESC
''',conn)

                   team_long_name  number_of_match
0                AS Saint-Étienne              304
1                        Aberdeen              304
2                         Arsenal              304
3                     Aston Villa              304
4         Athletic Club de Bilbao              304
5                 Atlético Madrid              304
6                          Celtic              304
7                         Chelsea              304
8                   Dundee United              304
9                         Everton              304
10                   FC Barcelona              304
11                     FC Lorient              304
12                      Getafe CF              304
13          Girondins de Bordeaux              304
14                     Kilmarnock              304
15                     LOSC Lille              304
16                      Liverpool              304
17                Manchester City              304
18              Manchester United              304
19                     Motherwell              304
20                      Málaga CF              304
21                       OGC Nice              304
22             Olympique Lyonnais              304
23         Olympique de Marseille              304
24            Paris Saint-Germain              304
25                   RCD Espanyol              304
26                 Real Madrid CF              304
27                     Sevilla FC              304
28               Stade Rennais FC              304
29                     Stoke City              304
..                            ...              ...
266               Reggio Calabria               38
267                 UD Las Palmas               38
268      US Boulogne Cote D'Opale               38
269                       Watford               38
270          Xerez Club Deportivo               38
271                        Lugano               36
272                        Novara               36
273         DSC Arminia Bielefeld               34
274        Eintracht Braunschweig               34
275                  FC Dordrecht               34
276            FC Energie Cottbus               34
277              FC Ingolstadt 04               34
278                   FC Penafiel               34
279                  FC St. Pauli               34
280                   FC Volendam               34
281                 FCV Dender EH               34
282            Fortuna Düsseldorf               34
283                 Karlsruher SC               34
284               SC Paderborn 07               34
285               SV Darmstadt 98               34
286          SpVgg Greuther Fürth               34
287                       Tondela               34
288                        Tubize               34
289              Uniao da Madeira               34
290                       Amadora               30
291                      Feirense               30
292                     KAS Eupen               30
293                  Portimonense               30
294  Termalica Bruk-Bet Nieciecza               30
295                      Trofense               30

[296 rows x 2 columns]

## 14. Câu hỏi 14: Liệt kê số trận thắng, thua và hòa của mỗi đội.

In [48]:
'''
sử dụng CASE WHEN trong mục select để phân ra từng điều kiện
dùng union all để hợp bảng 1 (đội nhà, bàn thắng, bàn thua) và bảng 2 (đội khách, bàn thắng, bàn thua)
'''
pd.read_sql('''
SELECT team_long_name,
    (CASE 
    WHEN our_team > rival_team THEN 'win'
    WHEN our_team < rival_team THEN 'lose'
    WHEN our_team = rival_team THEN 'tie'
    END) result , 
    count(*) number_of_time
FROM (
    SELECT home_team_api_id team_id, home_team_goal our_team,away_team_goal rival_team FROM Match
    UNION ALL
    SELECT away_team_api_id team_id, away_team_goal our_team,home_team_goal rival_team FROM Match) m
INNER JOIN Team t ON m.team_id = t.team_api_id
GROUP BY team_long_name, result
''',conn)

               team_long_name result  number_of_time
0        1. FC Kaiserslautern   lose              33
1        1. FC Kaiserslautern    tie              18
2        1. FC Kaiserslautern    win              17
3                  1. FC Köln   lose              90
4                  1. FC Köln    tie              54
5                  1. FC Köln    win              60
6              1. FC Nürnberg   lose              78
7              1. FC Nürnberg    tie              43
8              1. FC Nürnberg    win              49
9             1. FSV Mainz 05   lose              85
10            1. FSV Mainz 05    tie              65
11            1. FSV Mainz 05    win              88
12                 AC Ajaccio   lose              52
13                 AC Ajaccio    tie              40
14                 AC Ajaccio    win              22
15           AC Arles-Avignon   lose              24
16           AC Arles-Avignon    tie              11
17           AC Arles-Avignon    win               3
18              AC Bellinzona   lose              58
19              AC Bellinzona    tie              25
20              AC Bellinzona    win              25
21               ADO Den Haag   lose             119
22               ADO Den Haag    tie              74
23               ADO Den Haag    win              79
24                 AJ Auxerre   lose              49
25                 AJ Auxerre    tie              50
26                 AJ Auxerre    win              53
27                  AS Monaco   lose              58
28                  AS Monaco    tie              75
29                  AS Monaco    win              95
..                        ...    ...             ...
858               Widzew Łódź   lose              80
859               Widzew Łódź    tie              52
860               Widzew Łódź    win              48
861            Wigan Athletic   lose              88
862            Wigan Athletic    tie              52
863            Wigan Athletic    win              50
864                 Willem II   lose             119
865                 Willem II    tie              41
866                 Willem II    win              44
867              Wisła Kraków   lose              68
868              Wisła Kraków    tie              64
869              Wisła Kraków    win             108
870   Wolverhampton Wanderers   lose              61
871   Wolverhampton Wanderers    tie              28
872   Wolverhampton Wanderers    win              25
873      Xerez Club Deportivo   lose              20
874      Xerez Club Deportivo    tie              10
875      Xerez Club Deportivo    win               8
876            Zagłębie Lubin   lose              70
877            Zagłębie Lubin    tie              51
878            Zagłębie Lubin    win              59
879         Zawisza Bydgoszcz   lose              27
880         Zawisza Bydgoszcz    tie              14
881         Zawisza Bydgoszcz    win              19
882  Évian Thonon Gaillard FC   lose              71
883  Évian Thonon Gaillard FC    tie              36
884  Évian Thonon Gaillard FC    win              45
885             Śląsk Wrocław   lose              71
886             Śląsk Wrocław    tie              80
887             Śląsk Wrocław    win              89

[888 rows x 3 columns]

## 15. Câu hỏi 15: Liệt kê 10 đội có số trận thắng nhiều nhất

In [50]:
'''
dùng case when khi thắng thì sẽ tính là 1, còn lại là 0, tính tổng là ra số trận thắng
'''
pd.read_sql('''
SELECT team_long_name,
    SUM(CASE 
    WHEN our_team > rival_team THEN 1
    ELSE 0
    END) number_of_win
FROM (SELECT home_team_api_id team_id, home_team_goal our_team,away_team_goal rival_team FROM Match
UNION ALL
SELECT away_team_api_id team_id, away_team_goal our_team,home_team_goal rival_team FROM Match) m
INNER JOIN Team t ON m.team_id = t.team_api_id
GROUP BY team_long_name 
ORDER BY number_of_win DESC
LIMIT 10
''',conn)

      team_long_name  number_of_win
0       FC Barcelona            234
1     Real Madrid CF            228
2             Celtic            218
3   FC Bayern Munich            193
4  Manchester United            192
5           Juventus            189
6         SL Benfica            185
7           FC Porto            183
8               Ajax            181
9           FC Basel            180

## 16. Câu hỏi 16: Liệt kê tỉ lệ phần trăm về số trận của mỗi giải trên tổng tất cả các trận

In [53]:
# tỉ lệ tính trên phần trăm,công thức là số trận từng giải x 100 /  tổng tất cả các trận
# làm tròn đến 2 chữ số sau dấu phẩy, 
pd.read_sql('''
SELECT l.name league_name,  ROUND(count(*)*100.0 /(SELECT COUNT(*) FROM Match),2)  percentage
FROM Match m
INNER JOIN League l
ON m.league_id = l.id
GROUP BY league_name
''',conn)

                 league_name  percentage
0     Belgium Jupiler League        6.65
1     England Premier League       11.70
2             France Ligue 1       11.70
3      Germany 1. Bundesliga        9.42
4              Italy Serie A       11.61
5     Netherlands Eredivisie        9.42
6         Poland Ekstraklasa        7.39
7   Portugal Liga ZON Sagres        7.90
8    Scotland Premier League        7.02
9            Spain LIGA BBVA       11.70
10  Switzerland Super League        5.47

## 17. Câu hỏi 17: Liệt kê tỉ lệ phần trăm về số bàn ghi được của từng giải so với tổng số bàn của tất cả các trận

In [56]:
# công thức là (tổng bàn thắng chủ nhà + tổng bàn thắng khách)từng giải *100/tổng tất cả bàn thắng
# số phần trăm làm tròn đến 2 chữ số thập phân
pd.read_sql('''
SELECT l.name league_name,  
    ROUND((SUM(home_team_goal)+SUM(away_team_goal))*100.0 /(SELECT SUM(home_team_goal)+SUM(away_team_goal) FROM Match),2)  percentage
FROM Match m
INNER JOIN League l
ON m.league_id = l.id
GROUP BY league_name
''',conn)

                 league_name  percentage
0     Belgium Jupiler League        6.89
1     England Premier League       11.72
2             France Ligue 1       10.57
3      Germany 1. Bundesliga       10.11
4              Italy Serie A       11.23
5     Netherlands Eredivisie       10.73
6         Poland Ekstraklasa        6.62
7   Portugal Liga ZON Sagres        7.40
8    Scotland Premier League        6.83
9            Spain LIGA BBVA       11.97
10  Switzerland Super League        5.93

## 18. Câu hỏi 18: Liệt kê tổng số bàn ghi được của từng giải đấu theo từng mùa giải

In [59]:
# số bàn từng mùa giải từng giải đấu = tổng bàn thắng chủ + bàn thắng khách
pd.read_sql('''
SELECT l.name league_name, season, SUM(home_team_goal)+SUM(away_team_goal) total_goals
FROM Match m
INNER JOIN League l
ON m.league_id = l.id
GROUP BY league_name, season
''',conn)

                 league_name     season  total_goals
0     Belgium Jupiler League  2008/2009          855
1     Belgium Jupiler League  2009/2010          565
2     Belgium Jupiler League  2010/2011          635
3     Belgium Jupiler League  2011/2012          691
4     Belgium Jupiler League  2012/2013          703
5     Belgium Jupiler League  2013/2014           30
6     Belgium Jupiler League  2014/2015          668
7     Belgium Jupiler League  2015/2016          694
8     England Premier League  2008/2009          942
9     England Premier League  2009/2010         1053
10    England Premier League  2010/2011         1063
11    England Premier League  2011/2012         1066
12    England Premier League  2012/2013         1063
13    England Premier League  2013/2014         1052
14    England Premier League  2014/2015          975
15    England Premier League  2015/2016         1026
16            France Ligue 1  2008/2009          858
17            France Ligue 1  2009/2010          916
18            France Ligue 1  2010/2011          890
19            France Ligue 1  2011/2012          956
20            France Ligue 1  2012/2013          967
21            France Ligue 1  2013/2014          933
22            France Ligue 1  2014/2015          947
23            France Ligue 1  2015/2016          960
24     Germany 1. Bundesliga  2008/2009          894
25     Germany 1. Bundesliga  2009/2010          866
26     Germany 1. Bundesliga  2010/2011          894
27     Germany 1. Bundesliga  2011/2012          875
28     Germany 1. Bundesliga  2012/2013          898
29     Germany 1. Bundesliga  2013/2014          967
..                       ...        ...          ...
58  Portugal Liga ZON Sagres  2010/2011          584
59  Portugal Liga ZON Sagres  2011/2012          634
60  Portugal Liga ZON Sagres  2012/2013          667
61  Portugal Liga ZON Sagres  2013/2014          569
62  Portugal Liga ZON Sagres  2014/2015          763
63  Portugal Liga ZON Sagres  2015/2016          831
64   Scotland Premier League  2008/2009          548
65   Scotland Premier League  2009/2010          585
66   Scotland Premier League  2010/2011          584
67   Scotland Premier League  2011/2012          601
68   Scotland Premier League  2012/2013          623
69   Scotland Premier League  2013/2014          626
70   Scotland Premier League  2014/2015          587
71   Scotland Premier League  2015/2016          650
72           Spain LIGA BBVA  2008/2009         1101
73           Spain LIGA BBVA  2009/2010         1031
74           Spain LIGA BBVA  2010/2011         1042
75           Spain LIGA BBVA  2011/2012         1050
76           Spain LIGA BBVA  2012/2013         1091
77           Spain LIGA BBVA  2013/2014         1045
78           Spain LIGA BBVA  2014/2015         1009
79           Spain LIGA BBVA  2015/2016         1043
80  Switzerland Super League  2008/2009          540
81  Switzerland Super League  2009/2010          599
82  Switzerland Super League  2010/2011          537
83  Switzerland Super League  2011/2012          425
84  Switzerland Super League  2012/2013          462
85  Switzerland Super League  2013/2014          520
86  Switzerland Super League  2014/2015          517
87  Switzerland Super League  2015/2016          566

[88 rows x 3 columns]

## Câu hỏi 19: Liệt kê thông tin cầu thủ:

- Quy đổi cân nặng sang kilogram
- Quy đổi chiều cao sang mét
- Tính chỉ số bmi = ( (weight* 0.453592) / (height/100)^2)
- Tính tuổi của cầu thủ

In [68]:
pd.read_sql('''
SELECT player_name, ROUND(height/100,2) height_meter, 
    ROUND(weight*0.453592,2) weight_kilogram,
    ROUND(weight*0.453592/(height*height/10000),2) BMI, 
    strftime('%Y %m %d','now') - strftime('%Y %m %d',birthday) years_old
FROM Player
''',conn)

                  player_name  height_meter  weight_kilogram    BMI  years_old
0          Aaron Appindangoye          1.83            84.82  25.36         29
1             Aaron Cresswell          1.70            66.22  22.87         32
2                 Aaron Doran          1.70            73.94  25.53         30
3               Aaron Galindo          1.83            89.81  26.85         39
4                Aaron Hughes          1.83            69.85  20.89         42
5                  Aaron Hunt          1.83            73.03  21.84         35
6                  Aaron Kuhl          1.73            66.22  22.20         25
7                Aaron Lennon          1.65            63.05  23.13         34
8                Aaron Lennox          1.90            82.10  22.62         28
9               Aaron Meijers          1.75            77.11  25.10         34
10              Aaron Mokoena          1.83            82.10  24.55         41
11                 Aaron Mooy          1.75            68.04  22.15         31
12             Aaron Muirhead          1.88            76.20  21.57         31
13               Aaron Niguez          1.70            64.86  22.40         32
14               Aaron Ramsey          1.78            69.85  22.10         31
15              Aaron Splaine          1.73            73.94  24.78         25
16      Aaron Taylor-Sinclair          1.83            79.83  23.87         30
17            Aaron Wilbraham          1.90            72.12  19.87         42
18          Aatif Chahechouhe          1.75            68.04  22.15         35
19                  Abasse Ba          1.88            83.91  23.75         45
20          Abdelaziz Barrada          1.78            73.03  23.10         32
21      Abdelfettah Boukhriss          1.85            73.03  21.24         35
22     Abdelhamid El Kaoutari          1.80            73.03  22.45         31
23         Abdelkader Ghezzal          1.83            78.02  23.33         37
24            Abdellah Zoubir          1.80            73.03  22.45         30
25         Abdelmajid Oulmers          1.73            64.86  21.74         43
26         Abdelmalek Cherrad          1.85            74.84  21.77         40
27     Abdelmalek El Hasnaoui          1.80            72.12  22.18         27
28        Abdelouahed Chakhsi          1.83            77.11  23.06         35
29           Abderrazak Jadid          1.78            71.21  22.53         38
...                       ...           ...              ...    ...        ...
11030                 Zezinho          1.75            73.03  23.78         29
11031               Zhi Zheng          1.80            74.84  23.01         41
11032             Zhi-Gin Lam          1.75            66.22  21.56         30
11033             Zie Diabate          1.78            64.86  20.52         32
11034            Ziggy Gordon          1.80            77.11  23.71         28
11035         Ziguy Badibanga          1.73            69.85  23.42         30
11036        Zinedine Machach          1.85            73.94  21.51         25
11037              Zinho Gano          1.98            92.99  23.69         28
11038             Ziri Hammar          1.80            73.94  22.73         29
11039                    Zizo          1.75            67.13  21.86         25
11040       Zlatan Bajramovic          1.83            78.93  23.60         42
11041      Zlatan Ibrahimovic          1.96            94.80  24.78         40
11042      Zlatan Ljubijankic          1.85            79.83  23.22         38
11043            Zlatko Dedic          1.83            77.11  23.06         37
11044           Zlatko Janjic          1.88            83.01  23.50         35
11045        Zlatko Junuzovic          1.73            68.95  23.11         34
11046           Zola Matumona          1.65            64.86  23.80         40
11047             Zoltan Gera          1.83            74.84  22.38         42
11048          Zoltan Stieber          1.75            67.13  21.86         33
11049          Zoltan Szelesi          1.83            79.83  23.87         40
11050         Zoran Josipovic          1.88            74.84  21.18         26
11051          Zoran Rendulic          1.90            81.19  22.37         37
11052             Zoran Tosic          1.70            71.21  24.59         34
11053      Zouhaier Dhaouadhi          1.80            72.12  22.18         33
11054          Zouhair Feddal          1.90            78.02  21.50         32
11055          Zoumana Camara          1.83            76.20  22.78         42
11056            Zsolt Laczko          1.83            79.83  23.87         35
11057               Zsolt Low          1.80            69.85  21.48         42
11058     Zurab Khizanishvili          1.85            78.02  22.69         40
11059      Zvjezdan Misimovic          1.80            79.83  24.55         39

[11060 rows x 5 columns]

## 20. Câu hỏi 20: Liệt kê cầu thủ lớn tuổi nhất

In [70]:
pd.read_sql('''
SELECT player_name,strftime('%Y %m %d','now') - strftime('%Y %m %d',birthday) years_old
FROM Player
ORDER BY years_old DESC
LIMIT 1
''',conn)

       player_name  years_old
0  Alberto Fontana         54

## 21. Câu hỏi 21: Liệt kê cầu thủ có số trận đấu nhiều nhất

In [73]:
# lấy thông tin cầu thủ tham gia trận đấu ở bảng Player_Attributes
# bảng Player_Attributes liên quan với bảng Player qua key là player_api_id
pd.read_sql('''
SELECT p.player_name, count(*) number_of_match
FROM Player_Attributes pa
INNER JOIN player p ON pa.player_api_id = p.player_api_id
GROUP BY p.player_name
ORDER BY number_of_match DESC
LIMIT 1
''',conn)

  player_name  number_of_match
0      Danilo              108

## 22. Câu hỏi 22: Liệt kê các cầu thủ có tổng số điểm đánh giá lớn hơn 80

In [76]:
# tính trung bình của các lần overall_rating của các cầu thủ để xem cầu thủ nào lớn hơn 80
pd.read_sql('''
SELECT p.player_name, AVG(overall_rating) average_rating
FROM Player_Attributes pa
INNER JOIN player p ON pa.player_api_id = p.player_api_id
GROUP BY p.player_name
HAVING average_rating > 80
''',conn)

                player_name  average_rating
0           Afonso Alves,24       80.285714
1          Alessandro Nesta       82.157895
2            Alexandre Pato       81.133333
3            Alexis Sanchez       82.571429
4            Alvaro Negredo       81.270270
5           Andrea Barzagli       83.377778
6              Andrea Pirlo       84.644444
7            Andres Iniesta       88.320000
8         Andriy Shevchenko       81.200000
9            Angel Di Maria       83.153846
10          Antonio Cassano       82.189189
11        Antonio Di Natale       81.755556
12         Antonio Valencia       80.838710
13               Arda Turan       82.852941
14             Arjen Robben       87.840000
15             Arturo Vidal       83.439024
16              Ashley Cole       81.468750
17             Ashley Young       80.500000
18             Bacary Sagna       80.470588
19   Bastian Schweinsteiger       85.653846
20             Borja Valero       80.333333
21       Branislav Ivanovic       80.161290
22             Carles Puyol       85.888889
23             Carlos Tevez       85.789474
24            Cesc Fabregas       86.193548
25         Clarence Seedorf       80.944444
26        Claudio Marchisio       82.566038
27        Cristiano Ronaldo       91.280000
28             Daniel Agger       81.147059
29             Daniel Alves       84.200000
..                      ...             ...
175             Samir Nasri       83.500000
176            Samuel Eto'o       83.777778
177           Santi Cazorla       83.282051
178           Sergio Aguero       86.114286
179         Sergio Busquets       81.440000
180            Sergio Ramos       85.789474
181           Shinji Kagawa       81.700000
182       Shunsuke Nakamura       81.200000
183          Stevan Jovetic       80.852941
184          Steve Mandanda       81.777778
185          Steven Gerrard       83.750000
186            Theo Walcott       80.545455
187            Thiago Motta       80.560000
188            Thiago Silva       83.916667
189          Thomas Mueller       81.586207
190              Tim Howard       80.875000
191           Tomas Rosicky       80.435897
192              Toni Kroos       81.689655
193           Victor Valdes       83.636364
194         Vincent Kompany       84.142857
195       Vincenzo Iaquinta       80.272727
196           Walter Samuel       80.562500
197            Wayne Rooney       87.222222
198         Wesley Sneijder       84.750000
199                 Willian       82.086957
200             Xabi Alonso       84.535714
201          Xavi Hernandez       87.636364
202              Yaya Toure       85.027027
203    Yevheniy Konoplyanka       82.000000
204      Zlatan Ibrahimovic       88.285714

[205 rows x 2 columns]